### 이번 실습에서는 다음 내용들을 배웁니다.


- 정해진 횟수만큼 명령을 수행하고 싶을 때 사용하는 for문에 대해 배웁니다.


- 파이썬에서 for를 사용하는 방법에 대해 배웁니다.

### 2. `for` statement

- while문은 조건이 만족하는 동안 반복을 수행했지만, for문은 지정 횟수동안 반복을 수행한다.
> 여기서 지정된 횟수라는 것은 반복 대상의 크기가 된다.


- 보통 iteratable object(반복 가능한 객체)를 대상으로 수행되며, 연속형 데이터 타입 변수들이 여기에 해당된다.
> List, Tuple, string, ...


- for 변수 in 리스트(튜플, 문자열, iterator):
      <statement1>
      <statement2>
      <statement3>
          
- 리스트(나 반복가능한 변수들)의 모든 원소를 (자동으로 끝까지) 반복한다.

In [1]:
# 원소가 1, 2, 3인 리스트의 원소를 하나하나 출력하는 반복문을 만든다.
list = [1,2,3]
for i in list:
    print(i)

1
2
3

In [2]:
l = ['a','b','c']
for i in l :
    print(i)

a
b
c

In [3]:
l = ['a','b','c','d','e']
for i in l :
    print(i)

a
b
c
d
e

#### 6개의 커피 음료가 담긴 리스트가 있다. 카페에 있는 모든 음료를 출력해보자!

In [4]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
for coffee in coffees:
    print(coffee)

아메리카노
카페라떼
카페모카
바닐라라떼
핸드드립
콜드브루

In [7]:
jordans = ['jordan1-84','jordan2-86',
           'jordan3-88','jordan4-88',
           'jordan5-89','jordan6-90']
for jordan in jordans:
    print(jordan)

jordan1-84
jordan2-86
jordan3-88
jordan4-88
jordan5-89
jordan6-90

In [8]:
jordans = ('jordan1-84','jordan2-86',
           'jordan3-88','jordan4-88',
           'jordan5-89','jordan6-90')   
# 튜플로 바꿔도 결과 동일
for jordan in jordans:
    print(jordan)

jordan1-84
jordan2-86
jordan3-88
jordan4-88
jordan5-89
jordan6-90

#### for문의 단짝 range() 함수

- for문은 특정 횟수동안 반복을 하기 때문에, 횟수를 자동으로 만들어주는 기능이 있으면 좋다.

- 파이썬에서 기본적으로 제공하는 range 함수는 특정 숫자 범위내의 값들을 자동으로 생성해주는 함수이다.


e.g. range(1, 5)는 1, 2, 3, 4를 차례대로 생성해준다. (5는 범위에서 제외된다. 즉, 마지막 숫자는 제외된다. 1 <= x < 5)

In [3]:
# range 함수를 이용해 1부터 4까지 출력하는 프로그램을 작성해보자. for문을 이용해서!
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
for i in range(11): # 0 ~ 10까지 출력
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1,5):
    print('하이')       
    # 출력문이 range 설정 횟수만큼 출력된다

하이
하이
하이
하이

#### 6개의 커피 음료와 음료의 가격이 담긴 리스트가 있다. 가지고 있는 돈이 5,000원일 때 먹을 수 있는 모든 음료를 찾아보자!

In [29]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]

# index 사용
for i in range(6):          # 0~5까지 반복 = 0,1,2,3,4,5
    if prices[i] <= 5000:   # 인덱스 0~ 5까지 중 5000 이하일때
        print(coffees[i])   # coffees 해당 인덱스를 출력한다.

아메리카노
카페라떼
카페모카
콜드브루

In [21]:
jordans_name = ['jordan1','jordan2',
           'jordan3','jordan4',
           'jordan5','jordan6']
jordans_Release = [84,86,87,88,89,90]

for i in range(len(jordans_Release)):
    if jordans_Release[i] <= 90 :
        print(jordans_name[i],jordans_Release[i])

jordan1 84
jordan2 86
jordan3 87
jordan4 88
jordan5 89
jordan6 90

In [25]:
# enumerate(열거하다) 함수 사용

for i, prices in enumerate(prices):     
    # 인덱스를 i로, 요소값을 prices로 반복해서 넣어줄수 있다
    if prices <= 5000 :     # 요소값이 5000이하이면
         print(coffees[i])  # 그때 i값 = coffees 인덱스값을 출력한다

아메리카노
카페라떼
카페모카
콜드브루

In [22]:
jordans_name = ['jordan1','jordan2',
           'jordan3','jordan4',
           'jordan5','jordan6']
jordans_Release = [84,86,87,88,89,90]

for i, jordan in enumerate(jordans_Release):
    if jordans_Release[i] <= 90 :
        print(jordans_name[i],jordans_Release[i])

jordan1 84
jordan2 86
jordan3 87
jordan4 88
jordan5 89
jordan6 90

In [30]:
# zip 함수 사용
for coffee, price in zip(coffees, prices):
    # zip 함수를 이용해 세트로 한개씩 튜플로 반복한다
    if price <= 5000:
        print(coffee)

아메리카노
카페라떼
카페모카
콜드브루

In [35]:
jordans_name = ['jordan1','jordan2',
           'jordan3','jordan4',
           'jordan5','jordan6']
jordans_Release = [84,86,87,88,89,90]

for name, Release in zip(jordans_name,jordans_Release):
    if Release <= 90 :
        print(name,Release)

jordan1 84
jordan2 86
jordan3 87
jordan4 88
jordan5 89
jordan6 90

#### RE : 6개의 커피 음료와 음료의 가격이 담긴 리스트가 있다. 오늘은 할인 행사를 하여 모든 음료가 500원 할인 되었다!

#### 가지고 있는 돈이 5,000원일 때 먹을 수 있는 모든 음료를 찾아보자!

In [15]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]

for i, prices in enumerate(prices):     
    # 인덱스를 i로, 요소값을 prices로 반복해서 넣어줄수 있다
    if prices <= 5500 :     # 요소값이 5500이하이면
         print(coffees[i])  # 그때 i값 = coffees 인덱스값을 출력한다

아메리카노
카페라떼
카페모카
바닐라라떼
콜드브루

#### 전설의 구구단 구현. nested loop를 연습해보자!

In [ ]:
# nested loop를 이용하여 구구단을 구현합시다. 
for i in range(2,10):
    print('-'*20)
    for j in range(1,10):
        print(f'{i} X {j} = {i * j}')

In [39]:
for i in range(1,10):
    print(f'2 x {i} = {2 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [45]:
for dan in range(2,10):
    print('-'*20)
    for i in range(1,10):
        print(f'{dan} x {i} = {dan * i}')

--------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 연습문제. 단어 갯수 구하기

* 다음과 같은 영어기사 5개가 있다.
* 철수는 다음 뉴스기사들의 어떤 단어가 얼마나 나왔는지 궁금해졌다.
* 뉴스기사에서 등장하는 모든 단어마다 개수를 세어보자!


**[HINT]**

1. 각 문장을 단어로 나누려면 어떻게 해야할지 고민해보세요.


2. 각 단어를 저장할 data type을 고민해보세요. 어떤 구조가 좋을까요?


3. 반복문을 통해서 단어 하나하나의 count를 계산합니다.

In [18]:
#아래 5개의 변수들은 각각 하나의 문서를 의미합니다.
news1 = "earn champion products ch approves stock split champion products inc said its board of directors approved a two for one stock split of its common shares for shareholders of record as of april the company also said its board voted to recommend to shareholders at the annual meeting april an increase in the authorized capital stock from five mln to mln shares reuter"
news2 = "acq computer terminal systems cpml completes sale computer terminal systems inc said it has completed the sale of shares of its common stock and warrants to acquire an additional one mln shares to sedio n v of lugano switzerland for dlrs the company said the warrants are exercisable for five years at a purchase price of dlrs per share computer terminal said sedio also has the right to buy additional shares and increase its total holdings up to pct of the computer terminal s outstanding common stock under certain circumstances involving change of control at the company the company said if the conditions occur the warrants would be exercisable at a price equal to pct of its common stock s market price at the time not to exceed dlrs per share computer terminal also said it sold the technolgy rights to its dot matrix impact technology including any future improvements to woodco inc of houston tex for dlrs but it said it would continue to be the exclusive worldwide licensee of the technology for woodco the company said the moves were part of its reorganization plan and would help pay current operation costs and ensure product delivery computer terminal makes computer generated labels forms tags and ticket printers and terminals reuter"
news3 = "earn cobanco inc cbco year net shr cts vs dlrs net vs assets mln vs mln deposits mln vs mln loans mln vs mln note th qtr not available year includes extraordinary gain from tax carry forward of dlrs or five cts per shr reuter"
news4 = "earn am international inc am nd qtr jan oper shr loss two cts vs profit seven cts oper shr profit vs profit revs mln vs mln avg shrs mln vs mln six mths oper shr profit nil vs profit cts oper net profit vs profit revs mln vs mln avg shrs mln vs mln note per shr calculated after payment of preferred dividends results exclude credits of or four cts and or nine cts for qtr and six mths vs or six cts and or cts for prior periods from operating loss carryforwards reuter"
news5 = "earn brown forman inc bfd th qtr net shr one dlr vs cts net mln vs mln revs mln vs mln nine mths shr dlrs vs dlrs net mln vs mln revs billion vs mln reuter"

In [ ]:
## 코드를 작성해보세요.
# Solution 1. split() 함수 : 문자열 나누기
total_news = news1.split() + news2.split() + news3.split() + news4.split() + news5.split()
word_Dict = {}

# 초기화, initialization
for word in total_news:
    word_Dict[word] = 0

for word in total_news:
    # word의 count
    word_Dict[word] = word_Dict[word] + 1
word_Dict

In [ ]:
# Solution 2.
word_Dict = {}

for word in total_news:
    word_Dict[word] = word_Dict.get(word, 0) + 1

word_Dict

In [ ]:
# Solution 3.
word_list = []
count_list = []

for word in total_news:
    if word not in word_list: # 처음 word가 등장한 경우.
        word_list.append(word)
        count_list.append(1)
    else: # word가 두번 이상 등장한 경우.
        word_idx = word_list.index(word)
        count_list[word_idx] = count_list[word_idx] + 1

# print
for word, count in zip(word_list, count_list):
    print(word, count)