### 151

리스트에는 네 개의 정수가 저장돼 있다.

    리스트 = [3, -20, -3, 44]

for문을 사용해서 리스트의 음수를 출력하라.

-20

-3

In [9]:
data = [3, -20, -3, 44]

for i in data:      # 반복문
    if i < 0:       # 조건문 
        print(i)

-20
-3

### 152
for문을 사용해서 3의 배수만을 출력하라.

    리스트 = [3, 100, 23, 44]

3

In [11]:
data = [3, 100, 23, 44]

for i in data:
    if i % 3 == 0 :
        print(i)

3

### 153
리스트에서 20 보다 작은 3의 배수를 출력하라

    리스트 = [13, 21, 12, 14, 30, 18]

12

18

In [14]:
data = [13, 21, 12, 14, 30, 18]

for i in data:
    if 20 > i and i % 3 == 0:
        print(i)

12
18

### 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

    리스트 = ["I", "study", "python", "language", "!"]

study

python

language

In [22]:
data = ["I", "study", "python", "language", "!"]

for i in data:
    if len(i) >= 3:
        print(i)

study
python
language

### 155
리스트에서 대문자만 화면에 출력하라.

    리스트 = ["A", "b", "c", "D"]

A

D

(참고) isupper() 메서드는 대문자 여부를 판별합니다.

>> 변수 = "A"

>> 변수.isupper()

True

>> 변수 = "a"

>> 변수.isupper()

False

In [17]:
data = ["A", "b", "c", "D"]

for i in data:
    if i.isupper():     # 대문자 구분
        print(i)

A
D

### 156
리스트에서 소문자만 화면에 출력하라.

    리스트 = ["A", "b", "c", "D"]

b

c

In [19]:
data = ["A", "b", "c", "D"]

for i in data:
    if i.islower():     # 소문자 구분
        print(i)

b
c

### 157
이름의 첫 글자를 대문자로 변경해서 출력하라.

    리스트 = ['dog', 'cat', 'parrot']

Dog

Cat

Parrot

(참고) upper() 메서드는 문자열을 대문자로 변경합니다.

>> 변수 = "a"

>> a.upper()

A

>> 변수 = "abc"

>> 변수.upper()

ABC

In [23]:
data =  ['dog', 'cat', 'parrot']


for i in data:
    print(i.capitalize())       # 첫글자만 대문자로 변경

Dog
Cat
Parrot

### 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

    리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

hello

ex01

intro

In [26]:
data = ['hello.py', 'ex01.py', 'intro.hwp']

for i in data:
    name,ext = i.split('.')     
    # split 으로 . 기준으로 분리후 각각 변수에 대입
    
    print(name)

hello
ex01
intro

### 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

    리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

intra.h

define.h

In [31]:
data = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in data:
    name, ext = i.split('.')
    if ext == 'h':
        print(i)

intra.h
define.h

In [32]:
for i in data:
    if i.endswith('.h'):
        print(i)

intra.h
define.h

### 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

    리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

intra.h

intra.c

define.h

In [36]:
data = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in data:
    name, ext = i.split('.')
    if ext == 'h' or ext == 'c':
        print(i)

intra.h
intra.c
define.h

In [34]:
for i in data:
    if i.endswith(('.h','.c')):
        print(i)

intra.h
intra.c
define.h

### 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [56]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

### 162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

2002

2006

...

2046

2050

참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

>> print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [57]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

### 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

3 

6 

9 

12 

15 

18 

21 

24 

27

30

In [59]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

### 164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [60]:
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

### 165
for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [63]:
for i in range(0,10):
    print('0.',i,sep='')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

### 166
구구단 3단을 출력하라.

3x1 = 3

3x2 = 6

3x3 = 9

3x4 = 12

3x5 = 15

3x6 = 18

3x7 = 21

3x8 = 24

3x9 = 27

In [64]:
for i in range(1,10):
    print(f' 3 x {i} = { i * 3}')

 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

### 167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

3x1 = 3

3x3 = 9

3x5 = 15

3x7 = 21

3x9 = 27

In [65]:
for i in range(1,10,2):
    print(f' 3 x {i} = { i * 3}')

 3 x 1 = 3
 3 x 3 = 9
 3 x 5 = 15
 3 x 7 = 21
 3 x 9 = 27

### 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합 : 55

In [69]:
sum = 0

for i in range(1,11):
    sum = sum + i
    
print('합 :',sum)

합 : 55

### 169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합: 25

In [70]:
sum = 0

for i in range(1,11,2):
    sum += i

print('합 : ', sum)

합 :  25

### 170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [72]:
mul = 1

for i in range(1,11):
    mul *= i

print('합 :',mul)

합 : 3628800

### 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

    price_list = [32100, 32150, 32000, 32500]

32100

32150

32000

32500

In [3]:
data = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(data[i])

32100
32150
32000
32500

### 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

    price_list = [32100, 32150, 32000, 32500]

0 32100

1 32150

2 32000

3 32500

In [9]:
data = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(i,data[i])

0 32100
1 32150
2 32000
3 32500

### 173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

    price_list = [32100, 32150, 32000, 32500]

3 32100

2 32150

1 32000

0 32500

In [12]:
data = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(3-i , data[i])

3 32100
2 32150
1 32000
0 32500

### 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

    price_list = [32100, 32150, 32000, 32500]

100 32150

110 32000

120 32500

In [13]:
data = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print( 90 + 10*i , data[i])

100 32150
110 32000
120 32500

### 175
my_list를 아래와 같이 출력하라.

    my_list = ["가", "나", "다", "라"]

가 나

나 다

다 라

In [14]:
my_list = ["가", "나", "다", "라"]

for i in range(0,3):
    print(my_list[i],my_list[i + 1])

가 나
나 다
다 라

### 176
리스트를 아래와 같이 출력하라.

    my_list = ["가", "나", "다", "라", "마"]

가 나 다

나 다 라

다 라 마

In [15]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(0,3):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

### 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

    my_list = ["가", "나", "다", "라"]

라 다

다 나

나 가

In [20]:
my_list = ["가", "나", "다", "라"]

for i in range(3,0,-1):
    print(my_list[i],my_list[i - 1])

라 다
다 나
나 가

### 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

    my_list = [100, 200, 400, 800]

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

100

200

400

In [21]:
my_list = [100, 200, 400, 800]

for i in range(0,3):
    print(my_list[i + 1] - my_list[i])

100
200
400

### 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

    my_list = [100, 200, 400, 800, 1000, 1300]

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

233.33333333333334

466.6666666666667

733.3333333333334

1033.3333333333333

In [22]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(0,4):        # 0, 1, 2, 3
    sum = my_list[i] + my_list[i+1] + my_list[i+2]
    print(sum/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

### 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

    low_prices  = [100, 200, 400, 800, 1000]

    high_prices = [150, 300, 430, 880, 1000]

In [23]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(5):
    diff = high_prices[i] - low_prices[i]
    volatility.append(diff)

volatility

[50, 100, 30, 80, 0]

### 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

|101호|	102호|
|---|---|
|201호|	202호|
|301호|	302호|

In [24]:
apart = [ ['101호','102호'],
         ['201호','202호'],
         ['301호','302호']]

apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

### 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

|시가	| 종가|
|---|---|
|100	    |80|
|200	    |210|
|300	    |330|

In [25]:
stock = [['시가',100,200,300],
         ['종가',80,210,330]]

stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

### 183
아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

|시가|	종가|
|---|---|
|100|	80|
|200|	210|
|300|	330|

In [27]:
stock = {
    '시가': [100,200,300],
    '종가': [80,210,330]
}

stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

### 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

|10/10|	80|	110|	70|	90|
|---|---|---|---|---|
|10/11	|210	|230	|190	|200|

In [28]:
stock = {
    '10/10': [80,110,70,90],
    '10/11': [210,230,190,200]
}

stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [29]:
stock['10/11'][2]

190

### 185
리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

101 호

102 호

201 호

202 호

301 호

302 호

In [34]:
apart = [ [101, 102],
          [201, 202],
          [301, 302] ]

for i in apart:         # apart 의 3개 리스트 를 차례로 i에 대입
    for j in i:         # i에 대입된 리스트의 요소 2개를 차례로 j에 대입
        print(j,'호')   # j에 대입된 리스트의 요소를 순서대로 출력

101 호
102 호
201 호
202 호
301 호
302 호

### 186
리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

301 호

302 호

201 호

202 호

101 호

102 호

In [37]:
apart = [ [101, 102],
          [201, 202],
          [301, 302] ]

for i in apart[::-1]:       # 리스트의 끝에 요소부터 반대로 i에 대입
    for j in i:             # 3개의 리스트 목록을 하나씩 j에 대입
        print(j,'호' )      # 처음 대입한 [301, 302] 중 하나씩 출력
                            # 모두 출력 되었으면 다음 [201, 202]를 출력

301 호
302 호
201 호
202 호
101 호
102 호

### 187
리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

302 호

301 호

202 호

201 호

102 호

101 호

In [38]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i[::-1]:   # i에 대입한 리스트를 뒤에서부터 차례로 j에 대입
        print(j , '호')

302 호
301 호
202 호
201 호
102 호
101 호

### 188
리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

101 호

-----

102 호


-----

201 호

-----


202 호

-----


301 호

-----


302 호

-----

In [45]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

### 189
리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

101 호

102 호

-----

201 호

202 호

-----

301 호

302 호

-----

In [46]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

### 190
리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

101 호

102 호

201 호

202 호

301 호

302 호

-----

In [47]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, '호')

print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

### 구구단
- 2중 for 문으로 구구단 만들기 

&nbsp;

In [43]:
for i in range(2,10):                   # 2 ~ 9
    for j in range(1,10):               # 1 ~ 9
        print(f"{i} X {j} = {i * j}")   # 2 x 1 = 2 
                                        # 2 X 2 = 4
                                        # ....

    print('----------')                      
    # 2차 반복문이 끝나면 ---------- 으로 구분하고 1차 반복문으로 이동

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
----------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
----------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
----------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
----------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
----------

### 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

        data = [

                [ 2000,  3050,  2050,  1980],

                [ 7500,  2050,  2050,  1980],

                [15450, 15050, 15550, 14900]

                ]

수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

2000.28

3050.427

2050.2870000000003

...

In [48]:
data = [[ 2000,  3050,  2050,  1980],
        [ 7500,  2050,  2050,  1980],
        [15450, 15050, 15550, 14900]]

for i in data:
    for j in i:
        print(j + (j * 0.014 * 0.01))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

### 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

2000.28

3050.427

2050.2870000000003

1980.2772

----

7501.05

2050.2870000000003

2050.2870000000003

1980.2772

----

15452.163

15052.107

15552.177

14902.086000000001

----

In [49]:
for i in data:
    for j in i:
        print(j + (j * 0.014 * 0.01))
    print('-'*10)

2000.28
3050.427
2050.287
1980.2772
----------
7501.05
2050.287
2050.287
1980.2772
----------
15452.163
15052.107
15552.177
14902.086
----------

### 193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

>> print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

In [62]:
result = [ ]

for i in data:
    for j in i:
        result.append(j + (j * 0.014 * 0.01))

result

[2000.28,
 3050.427,
 2050.287,
 1980.2772,
 7501.05,
 2050.287,
 2050.287,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086]

### 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

>> print(result)

[

 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],

 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],

 [15452.163, 15052.107, 15552.177, 14902.086000000001]

]

In [63]:
result = [ ]

for i in data:
    i_price = [ ]
    # result 리스트 안에 넣을 i_price 리스트를 만들어준다
    
    for j in i:
        j_price = j + (j * 0.014 * 0.01)
        # 각 값에 수수료를 더한 값을 더하고 j_price 에 하나씩 대입
        i_price.append(j_price) 
        # 대입된 j_price를 비어있는 i_price에 하나씩 넣어준다
    
    result.append(i_price)
    # i_price 리스트에 모두 넣어준후 비어있는 result리스트에 넣어주고
    # 1차 for문으로 나가서 다시 반복한다

result

[[2000.28, 3050.427, 2050.287, 1980.2772],
 [7501.05, 2050.287, 2050.287, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086]]

### 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

        ohlc = [["open", "high", "low", "close"],

                [100, 110, 70, 100],

                [200, 210, 180, 190],

                [300, 310, 300, 310]]

100

190

310

In [64]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:      
    # ohlc 리스트안에 1번을 뺀 나머지 리스트 대입
    
    print(i[3])
    # 대입된 리스트에 4번째 요소만 슬라이스 출력후 다시 반복

100
190
310

### 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

        ohlc = [["open", "high", "low", "close"],

                [100, 110, 70, 100],

                [200, 210, 180, 190],

                [300, 310, 300, 310]]

190

310

In [78]:
for i in ohlc[1:]:
    # ohlc 리스트안에 1번을 뺀 나머지 리스트 대입
        
    j = i[3]        # 대입된 리스트의 4번째 요소만 j에 대입
    if j > 150:     # 대입된 값이 150 초과 일경우
        print(j)    # 그 값만 출력

190
310

### 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

    ohlc = [["open", "high", "low", "close"],
            [100, 110, 70, 100],
            [200, 210, 180, 190],
            [300, 310, 300, 310]]

100

310

In [80]:
for i in ohlc[1:]:
    # ohlc 리스트안에 1번을 뺀 나머지 리스트 대입
        
    j = i[3]        # 대입된 리스트의 4번째 요소만 j에 대입
    e = i[0]        # 대입된 리스트의 1번째 요소만 e에 대입
    if j >= e:      # j가 e보다 크거나 같을때
        print(j)    # j를 출력

100
310

### 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

    ohlc = [["open", "high", "low", "close"],
            
            [100, 110, 70, 100],
        
            [200, 210, 180, 190],
    
            [300, 310, 300, 310]]

>> print(volatility)

[40, 30, 10]

In [81]:
volatility = []

for i in ohlc[1:]:
    # ohlc 리스트안에 1번을 뺀 나머지 리스트 대입
        
    j = i[1]        # 대입된 리스트의 2번째 요소만 j에 대입
    e = i[2]        # 대입된 리스트의 3번째 요소만 e에 대입
    volatility.append( j - e)

volatility

[40, 30, 10]

### 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

    ohlc = [["open", "high", "low", "close"],
            
            [100, 110, 70, 100],
            
            [200, 210, 180, 190],
            
            [300, 310, 300, 310]]

종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

10

In [83]:
for i in ohlc[1:]:
    open,high,low,close = i     
    # 언패킹으로 i에 대입된 리스트 요소를 각각의 변수에 대입

    if close > open:        # 종가가 시가 보다 클때만
        print(high - low)   # 고가에서 저가를 뺀 가격을 출력한다

10

### 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

    ohlc = [["open", "high", "low", "close"],
            
            [100, 110, 70, 100],
        
            [200, 210, 180, 190],
    
            [300, 310, 300, 310]]

1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

0

In [84]:
# 각 거래일 수익금 : 시가 - 종가
# 총 수익금

total = 0
for i in ohlc[1:]:
    j = i[0] - i[3]

    total = total + j

total

0