&nbsp;

# **<span style="color:blue">1. 파이썬 시작하기</span>**

&nbsp;

### 001
 화면에 Hello World 문자열을 출력하세요.

In [37]:
print('Hello World')

Hello World

### 002
 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [38]:
print("Mary's cosmetics")

Mary's cosmetics

### 003
 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [39]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

### 004
 화면에 "C:\Windows"를 출력하세요.

In [40]:
print('"C:\\Windows"')

"C:\Windows"

### 005 
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [41]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n : 줄바꿈
# \t : tab

안녕하세요.
만나서		반갑습니다.

### 006
 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

>print ("오늘은", "일요일")

In [42]:
print ("오늘은", "일요일")

오늘은 일요일

### 007
 print() 함수를 사용하여 다음과 같이 출력하세요.

>naver;kakao;sk;samsung

In [43]:
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

### 008
 print() 함수를 사용하여 다음과 같이 출력하세요.

>naver/kakao/sk/samsung

In [44]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

### 009 
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 

(힌트: end='') print 함수는 두 번 사용합니다. 

세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

>print("first");print("second")

In [45]:
print("first",end='');print("second")

firstsecond

### 010
 5/3의 결과를 화면에 출력하세요.

In [46]:
print(5/3)

1.6666666666666667

&nbsp;

# **<span style="color:blue"> 2. 파이썬 변수</span>**

&nbsp;

### 011
 삼성전자라는 변수로 50,000원을 바인딩해보세요. 

삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [47]:
삼성전자 = 50000

print('총 평가금액 :',삼성전자 * 10)

총 평가금액 : 500000

### 012
 다음 표는 삼성전자의 일부 투자정보입니다. 

변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

|항목	|값|
|---|---|
|시가총액|	298조|
|현재가	|50,000원|
|PER	|15.79|

In [48]:
시가총액 = 298000000000000
per = 15.79

print('시가총액 :',시가총액,'원')
print('현재가 :',삼성전자,'원')
print('PER :',per)

시가총액 : 298000000000000 원
현재가 : 50000 원
PER : 15.79

### 013
 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"

>> t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [49]:
s = 'hello'
t = 'python'

print(s+'!',t)

hello! python

### 014
 아래 코드의 실행 결과를 예상해보세요.

>> 2 + 2 * 3

In [1]:
print(2 + 2 * 3)

8

### 015
 type() 함수는 데이터 타입을 판별합니다. 

변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128

>> print (type(a))

<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

>> a = "132"

In [2]:
a = '132'
print(a,type(a))

132 <class 'str'>

### 016
 문자열 '720'를 정수형으로 변환해보세요.

>> num_str = "720"

In [3]:
num_str = '720'
num_int = int(num_str)
print(num_int,type(num_int))

720 <class 'int'>

### 017
 정수 100을 문자열 '100'으로 변환해보세요.

>> num = 100

In [4]:
num = 100
str_num = str(num)
print(str_num,type(str_num))

100 <class 'str'>

### 018
 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [5]:
f = float('15.79')
print(f, type(f))

15.79 <class 'float'>

### 019
 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 

이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

>>year = "2020"

In [ ]:
year = int('2020')
print(year+3)

2023

### 020
 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 

총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
air = 48584
print(air * 36)

1749024

&nbsp;

# **<span style="color:blue">3. 파이썬 문자열</span>**

&nbsp;

### 021
 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'

실행 예 : p t

In [6]:
letters = 'python'

print(letters[0],letters[2])

p t

### 022
 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

>> license_plate = "24가 2210"

실행 예: 2210

In [4]:
license_plate = "24가 2210"

license_plate[-4:]

'2210'

### 023
 아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"

실행 예: 홀홀홀

슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.

In [10]:
string = "홀짝홀짝홀짝"

string[::2]

# print(string[0],string[2],string[4],sep='')

'홀홀홀'

### 024
 문자열을 거꾸로 뒤집어 출력하세요.

>> string = "PYTHON"

실행 예: NOHTYP

In [11]:
string = "PYTHON"

string[::-1]

'NOHTYP'

### 025
 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

>> phone_number = "010-1111-2222"

In [12]:
phone_number = "010-1111-2222"

phone_number.replace('-',' ')

'010 1111 2222'

### 026
 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

>>실행 예

01011112222

In [13]:
phone_number.replace('-','')

'01011112222'

### 027
 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"

실행 예:

kr

In [15]:
url = "http://sharebook.kr"

url[-2:]

# url.split('.')    # .을 중심으로 나누어 진다

'kr'

### 028
 아래 코드의 실행 결과를 예상해보세요.

>> lang = 'python'

>> lang[0] = 'P'

>> print(lang)

In [2]:
lang = 'python'

lang[0] = 'P'

print(lang)

# 에러 발생
# 위의 코드로는 설정된 원본값을 변경할수 없다

TypeError: 'str' object does not support item assignment

### 029
 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'

실행 예:

Abcdfe2A354A32A

In [16]:
string = 'abcdfe2a354a32a'

string.replace('a','A')

'Abcdfe2A354A32A'

### 030
 아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'

>> string.replace('b', 'B')

>> print(string)

In [19]:
string = 'abcd'

string.replace('b', 'B')

print(string)       # 원본 값은 변하지 않는다

# string = string.replace('b', 'B')
# 변수값 변경을 해줘야 값이 변형된다.

abcd

### 031
 아래 코드의 실행 결과를 예상해보세요.

>> a = "3"

>> b = "4"

>> print(a + b)

In [22]:
a = "3"

b = "4"

print(a + b)

34

### 032
 아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [24]:
print("Hi" * 3)

HiHiHi

### 033
 화면에 '-'를 80개 출력하세요.

In [25]:
print('-' * 80)

--------------------------------------------------------------------------------

### 034
 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'

>>> t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:

python java python java python java python java

In [30]:
t1 = 'python'
t2 = 'java'

print((t1+' '+t2+' ') * 4)

python java python java python java python java

### 035 
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 

age1 = 10

name2 = "이철희"

age2 = 13

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [44]:
# % fomatting

name1 = '김민수'
name2 = '이철희'
age1 = 10
age2 = 13

print('이름: %s 나이: %d'%(name1, age1))
print('이름: %s 나이: %d'%(name2, age2))

# %s는 문자형, %d는 정수형,%f 는 실수형이다

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036
 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [33]:
print('이름: {0} 나이: {1}'.format(name1,age1))
print('이름: {0} 나이: {1}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037
 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [34]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038
 삼성전자의 상장주식수가 다음과 같습니다. 

컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

>> 상장주식수 = "5,969,782,550"

In [45]:
상장주식수 = "5,969,782,550"
a = int(상장주식수.replace(',',''))
a

5969782550

### 039
 다음과 같은 문자열에서 '2020/03'만 출력하세요.

>>분기 = "2020/03(E) (IFRS연결)"

In [40]:
# 문자열 슬라이싱

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

### 040
 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

>> data = "   삼성전자    "

In [46]:
data = "   삼성전자    "
data = data.strip()
data

'삼성전자'

### 041
 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

>ticker = "btc_krw"

In [58]:
ticker = "btc_krw"

ticker = ticker.upper()

print(ticker)

BTC_KRW

### 042
 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

>ticker = "BTC_KRW"

In [59]:
ticker = "BTC_KRW"

ticker = ticker.lower()

print(ticker)

btc_krw

### 043

 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [62]:
a = 'hello'

a = a.capitalize()

a

# .title() 함수는 숫자,특수기호,띄어쓰기로 나누어진
# 영단어들의 첫 글자를 대문자로 변형한다.

'Hello'

### 044
 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 

파일 이름이 'xlsx'로 끝나는지 확인해보세요.

>file_name = "보고서.xlsx"

In [51]:
file_name = "보고서.xlsx"

print(file_name.endswith('xlsx'))

True

### 045
 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 

사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

>file_name = "보고서.xlsx"

In [63]:
print(file_name.endswith(('xlsx','xls')))

# 여러개의 문자열중 하나라도 맞으면 True가 나온다.

True

### 046
 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 

사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

>file_name = "2020_보고서.xlsx"

In [53]:
file_name = "2020_보고서.xlsx"

print(file_name.startswith('2020'))

True

### 047
 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

>a = "hello world"

In [64]:
a = "hello world"

print(a.split())

# split() 안은 기본적으로 공백이 들어가 있다

['hello', 'world']

### 048
 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

> ticker = "btc_krw"

In [55]:
ticker = "btc_krw"

print(ticker.split('_'))

['btc', 'krw']

### 049
 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

> date = "2020-05-01"

In [56]:
date = "2020-05-01"

print(date.split('-'))

['2020', '05', '01']

### 050
 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.


> data = "  039490     "

In [79]:
data = "  039490     "

data = data.rstrip()
# data = data.lstrip()

data

'  039490'