## 4. 사전(Dictionary) (** 중요!)



**파이썬에서 리스트와 함께 굉장히 많이 사용되는 구조. 특히 이번 교육과정 중에 많이 사용되니 꼭 마스터하는 것을 추천한다.**


- 파이썬에서 제공하는 사전 자료형은 key - value 방법을 통해 저장한다.

| name | code |
| --- | --- |
| "John" | 0011 |
| "Maria" | 1234 |


- 이런 table concept을 의미하며, 정수 index가 아닌 key값을 통해서 value를 access한다.

> key-value 방식으로 저장을 하는 것으로 얻는 이점은?

> A. 순서가 아닌 의미가 있는 값을 통해서 데이터 접근이 가능하다.



- 파이썬에서 사전 자료형은 {}을 이용하여 표현하는데, 집합과의 차이점을 두기 위해 원소에 *반드시* <kbd>:</kbd>가 들어가야 한다.


- 사전을 표현할 때는 {key : value, key2 : value2, ... } 형태로 표현한다.

e.g. {'a' : 1', "b" : 3}

### 사전을 만드는 방법

In [8]:
# 위에 나온 테이블 예시를 사전으로 만들어봅니다.
D = {'John':'0011','Maria':'1234'}
D

{'John': '0011', 'Maria': '1234'}

In [9]:
D['Maria']

'1234'

In [10]:
# 사전 D에 key가 'Anna'이고 value가 0003인 원소를 추가하자.
D['Anna'] = '0003'
D

{'John': '0011', 'Maria': '1234', 'Anna': '0003'}

In [12]:
# key값이 이미 존재하는 경우에는 key값을 통한 indexing이 되며,
# key값이 존재하지 않을 때는 assignment를 사용하여 원소를 추가한다.
D['Anna'] = '0004'
D['Anna']

'0004'

In [15]:
D2 = {'a' : 1 , 'a' : 2, 'b': 3} # 무엇이 문제일까?
D2

# 키 값이 동일하면 나중에 나온 1개만 적용된다

{'a': 2, 'b': 3}

In [19]:
D2[[1,2]] = 3
D2

# 딕셔너리의 key값은 변경 가능한 타잎으로 설정할수 없다

TypeError: unhashable type: 'list'

> **TIP** 사전을 만들 때 key는 중복이 있으면 절대 안된다.

> 사전에서 key가 될 수 있는 data type은 **immutable**이어야 한다.

## > **immutable : tuple, int, float, str**

### 사전 관련 함수

#### 사전의 모든 key값들 보기 keys()

In [34]:
D = {'name': 'kim', 'phone': '01012345679', 'birth': '1234'}

D.keys()
# key값만 출력

dict_keys(['name', 'phone', 'birth'])

#### 사전의 모든 value들 보기 values()

In [22]:
D.values()

dict_values(['kim', '01012345679', '1234'])

#### 사전의 모든 key, value 쌍 보기 items()

In [23]:
D.items()

dict_items([('name', 'kim'), ('phone', '01012345679'), ('birth', '1234')])

#### 사전의 원소 제거하기 pop()

In [30]:
D.pop('name')
# key값 name을 삭제하고 출력되면서 표시

'kim'

In [31]:
D
# key값 name, values 값이 사라진다

{'phone': '01012345679', 'birth': '1234'}

### Sequence에 해당 데이터가 존재하는지 확인하기 : `in` operator


- in이라는 operator는 모든 연속형 데이터 타입에 사용할 수 있다.


- 사전의 경우에는 key값을 대상으로 하고, 리스트, 튜플, 집합, 문자열에 대해서는 해당 원소가 존재하는지 찾아서 True / False 를 알려준다.

In [32]:
"phone" in D
# key값 'phone'이 있어서 True가 출력

True

In [35]:
"Lee" in D  
# in이라는 연산은 사전에서는 key에 적용된다.

False

In [36]:
# 리스트, 튜플, 집합에서도 테스트
L = [1, 2, 3]
t = (4, 5, 6)
s = {7, 8, 9}
st = "Hello World"

In [37]:
2 in L

True

In [38]:
5 in t

True

In [39]:
5 in s

False

In [41]:
'H' in st

True

### 연습문제. 도서 관리하기

- 도서관에서 도서 관련 정보를 프로그램에 저장하려고 합니다.


- 도서와 관련된 정보는 "책 제목 / 도서번호 / 도서분류" 가 있습니다.


- 현재 도서는 총 5권이 있습니다. 5권에 해당하는 도서 정보는 다음과 같습니다. (실제 존재하는 도서가 아닌 예제를 위한 가상의 도서입니다)

<br>

"기초 파이썬 프로그래밍 | 0011 |프로그래밍/IT"

"한 번에 배우는 데이터 분석 | 1234 |프로그래밍/IT"

"40세에 돌아본 인생 | 3014 | 인문교양"

"집밥 101 | 9744 | 요리"

"300일로 끝내는 나홀로 세계여행 | 8861 | 여행"
<br>


- 다음 두 가지 방식으로 데이터를 관리해보려고 합니다. 각 방식대로 프로그램을 작성해보고 차이점에 대해 생각해보세요.

<br>

1. 리스트로 관리하기

> 도서이름들을 관리하는 name_list

> 도서번호들을 관리하는 number_list

> 도서분류들은 관리하는 category_list
<br>

2. 사전으로 관리하기

> 0, 1, 2, 3, 4를 key로 하고 value는 각 도서정보(사전)인 사전을 만든다.

> 각 도서정보는 "name", "number", "category"를 key로 하고 value는 각 도서의 해당하는 정보를 적는다.

In [49]:
# 리스트로 관리하기

name_list = ['기초 파이썬 프로그래밍','한 번에 배우는 데이터 분석','40세에 돌아본 인생','집밥','300일로 끝내는 나홀로 세계여행']
number_list = ['0011','1234','3014','9744','8861']
category_list = ['프로그래밍/IT','인문교양','요리','여행']

print('1번 도서 : ',name_list[0],',',number_list[0],',',category_list[0])

1번 도서 :  기초 파이썬 프로그래밍 , 0011 , 프로그래밍/IT

In [46]:
# 사전으로 관리하기

library = {
          0:{'name':'기초 파이썬 프로그래밍' ,'number':'0011','category':'프로그래밍/IT'},
          1:{'name': '한 번에 배우는 데이터 분석','number':'1234','category':'프로그래밍/IT'},
          2:{'name': '40세에 돌아본 인생','number':'3014','category':'인문교양'},
          3:{'name': '집밥','number':'9744','category':'요리'},
          4:{'name': '300일로 끝내는 나홀로 세계여행','number':'8861','category':'여행'}
}

library

{0: {'name': '기초 파이썬 프로그래밍', 'number': '0011', 'category': '프로그래밍/IT'},
 1: {'name': '한 번에 배우는 데이터 분석', 'number': '1234', 'category': '프로그래밍/IT'},
 2: {'name': '40세에 돌아본 인생', 'number': '3014', 'category': '인문교양'},
 3: {'name': '집밥', 'number': '9744', 'category': '요리'},
 4: {'name': '300일로 끝내는 나홀로 세계여행', 'number': '8861', 'category': '여행'}}