# CH 01_03. 데이터를 여러개 다루고 싶을 때

### 이번 실습에서는 다음 내용들을 배웁니다.


- 여러 데이터를 다루는 방법에 대해 배웁니다.


- 리스트와 튜플에 차이에 대해 배웁니다.

### 3. 연속형 데이터 (Sequential Data Types)

**Q. 숫자 100개를 한번에 다루려고 한다. <=> 하나의 변수에 숫자 100개를 저장하고 싶다. 어떻게 해야할까?**

*A. 연속형 데이터 타입을 사용하자!*

* 연속형 데이터란, 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입이다.


* 연속형 데이터 타입에는 리스트(List), 튜플(Tuple), 문자열(String)이 있다. (문자열을 문자들의 나열로 인식하기 때문에, 연속형 데이터이다.)


* 연속형 데이터의 크기 제한은 없다. 하지만, 사용하는 컴퓨터의 가용 메모리 용량을 인지하며 사용해야 한다.


* 각 연속형 데이터 타입마다 특징이 다르다. 그 특징을 파악하여 용도에 맞는 데이터 타입을 사용하는 것이 중요하다.

### 3.1 리스트(List)


* 가장 많이 사용되는 연속형 데이터 타입이자, 굉장히 유연한 구조를 가지고 있어 대부분의 데이터를 편하게 다룰 수 있다.


* 파이썬에서 <kbd>[</kbd> 와 <kbd>]</kbd>를 이용하여 표현한다. e.g. [1, 2, 3]


* 리스트의 원소는 쉼표로 구분되며, 리스트의 원소는 아무 데이터 타입이나 가능하다. 리스트조차 가능하다.


* 리스트를 이용하면 파이썬에서 다루는 대부분의 데이터는 아무 무리없이 다룰 수 있다. 하지만 수정이 자유롭기 때문에 수정을 하면 안되는 경우에는 사용하면 안된다.

### 리스트를 만드는 방법

In [1]:
# 정수 1, 2, 3을 원소로 가지는 리스트를 만듭니다.
L = [1,2,3]
L

[1, 2, 3]

In [1]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [2]:
type(a)

list

In [4]:
# 리스트에는 다양한 타입의 원소를 다 포함할 수 있다. 심지어 리스트도.
L2 = [1,2,3.14,[4,5,6,],7,8,9,'ten']
L2

[1, 2, 3.14, [4, 5, 6], 7, 8, 9, 'ten']

## Indexing (***) : 인덱싱

- 연속형 데이터들은 하나의 변수에 여러가지 데이터를 가지기 때문에 여러 데이터를 접근하는 방법이 필요하다.


- 이를 위해 indexing이라는 기법이 있다. 말그대로 index를 통해 접근(access)하는 방법이다.

> 정수 인덱스

- 리스트의 index는 맨 앞부터 0으로 시작하며, 1씩 증가하는 정수 index를 사용한다.


e.g. [1, 2, 3]이면 첫번째 원소는 index가 0이고, 두번째 원소는 index가 1이다.


- 파이썬에서는 음수 index도 제공하는데, 이는 뒤쪽부터 접근할 수 있는 방법이다.

e.g. [1, 2, 3]이면 뒤에서 첫번째(맨 마지막)원소는 index가 -1이고, 뒤에서 두번째 원소는 index가 -2이다.


- index를 통해 접근하는 방법은 해당 변수이름에 []를 사용하며, []안에 index를 넣어서 접근할 수 있다.


e.g L = [1, 2, 3]이면 L[0]은 1이고, L[2]는 L[-1]이며 3이다.

In [6]:
L = [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [6]:
# L의 첫번째 원소
L[0]

1

In [7]:
# L의 5번째 원소
L[4]

5

In [7]:
# L에 없는 index는?
L[10]
# 에러 발생

IndexError: list index out of range

In [9]:
# L의 마지막 원소
L[-1]

5

In [8]:
L[-3]

3

In [10]:
# indexing을 이용한 연산. L의 첫번째, 
# 두번째 원소를 가져다가 더해봅니다.
L[0]+L[1]
# 1 + 2

3

In [12]:
L2 = [1, [2, 3, 4], 5]
L2

[1, [2, 3, 4], 5]

In [13]:
L2[1]

[2, 3, 4]

In [14]:
# L2에서 2에 접근하기 위해 indexing을 해보자.
L2[1][1]

3

### Slicing (**)

**슬라이싱은 리스트에서 뿐만 아니라, 리스트와 비슷한 구조인 numpy array와 pandas series, dataframe에서도 많이 이용되니 꼭 알아두어야 한다.**

- 슬라이싱은 리스트의 일부분만 잘라낸다는 의미이다. (말그대로 슬라이싱)


- 리스트의 일부만 사용하고 싶을 때 쓰는 기법이며, indexing을 범위로 하는 느낌이다.


- 리스트의 index와 <kbd>:</kbd>를 사용하여 슬라이싱을 할 수 있다.


e.g. L = [1, 2, 3, 4]  L[0:2]는 [1, 2]이다.

In [15]:
L = [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [17]:
# L의 첫번째부터 index2 까지 자르기
L[0:2]
# 뒤에나온 마지막 숫자 인덱스는 빠진다

[1, 2]

In [17]:
# L의 두번째부터 index4 까지 자르기
L[1:4]

[2, 3, 4]

In [18]:
# 시작 index를 생략하면, 자동으로 index는 0이 된다. (맨 처음)
L[:3]

[1, 2, 3]

In [22]:
# 끝 index를 생략하면, 자동으로 index는(리스트의 길이)가 된다.
L[1:]           # [1 : 리스트의 원소의 갯수]

[2, 3, 4, 5]

In [23]:
L[1:len(L)]     # 리스트의 원소의 갯수 len() 으로 사용가능하다

[2, 3, 4, 5]

In [23]:
# 리스트의 Indexing, slicing은 다른 sequence data type에도 동일하게 적용됩니다.
s = 'Hello'
s[:3]

'Hel'

> **TIP!**
> 문자열도 연속형 데이터 타입이기 때문에, indexing과 slicing이 다 된다. 하나의 문자열을 생성하여 연습해보자.

### 리스트 연산하기

> 문자열때와 마찬가지로, 리스트도 더하기, 곱하기 연산이 존재한다. 어떤 의미일지 생각해보자.

#### 리스트 더하기

In [24]:
L = [1, 2, 3]
L2 = [4, 5]
L + L2          # concatenation : 리스트가 순서대로 연결

[1, 2, 3, 4, 5]

In [25]:
L2 + L          # 순서가 바뀐다

[4, 5, 1, 2, 3]

#### 리스트 곱하기

In [26]:
L * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트 수정하기

In [27]:
# L2의 첫번째 원소를 7로 변경.

L[0] = 7    # 리스크 인덱스 0 값인 1 이 7로 변경
L

[7, 2, 3]

### 리스트 관련 함수

#### 리스트에 원소 추가하기 append() (***)

In [29]:
# 빈 리스트 L을 만들어서 3, 2, 1 순서대로 원소를 추가해봅니다.
L = []
L.append(3)
L.append(2)
L.append(1)         
L               # 순서대로 추가된다

[3, 2, 1]

In [29]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [31]:
a.append(5,6)
a               # 원소 2개 추가는 안됨

TypeError: list.append() takes exactly one argument (2 given)

#### 리스트 원소 추가하기 insert()

In [32]:
L = [4, 3, 16]
L.insert(2,'a')      # 인덱스 2에 'a'를 추가
L

[4, 3, 'a', 16]

In [32]:
a = [1,2,5]
a.insert(2,4)
a                   # 원하는 위치에 원소 추가

[1, 2, 4, 5]

In [35]:
a.index(3,(5,6))
a                   # 원소 2개는 추가 안됨

TypeError: slice indices must be integers or have an __index__ method

#### 리스트 원소 정렬하기 sort()

In [35]:
# sort()를 이용해 L을 정렬합니다.
L = [4, 3, 16]
L.sort()                # 오름차순 정렬
L

[3, 4, 16]

In [37]:
a = [5,2,6,9]
a.sort()
a

[2, 5, 6, 9]

In [38]:
a.sort(reverse=True)
a

[9, 6, 5, 2]

In [36]:
L.sort(reverse=True)    # 내림차순 정렬
L

[16, 4, 3]

#### 리스트 특정 원소 제거하기 remove()

In [37]:
L = [1, 5, 6, 's', 12, -3, 56]
L.remove('s')
L

[1, 5, 6, 12, -3, 56]

#### 리스트에서 특정 원소 제거하기 pop()

In [38]:
L = [1, 5, 6, 's', 12, -3, 56]
L.pop(3)        # 인덱스 번호를 넣어서 제거
L

[1, 5, 6, 12, -3, 56]

In [39]:
a = [5,2,6,9]
a.remove(5)
a

[2, 6, 9]

In [41]:
a.pop(2)
a

[2, 6]

### 3.2 튜플(Tuple)

- tuple은 list과 거의 같다.
> indexing, slicing 모두 동일하게 사용 가능하다.
> 원소들도 자유롭게 사용 가능하다.

- 거의 같은데, 다른 점이 딱 2가지 있다.




**1) 리스트는 [ ]를 사용하고, 튜플은 ( )을 사용한다.**

**2) 리스트는 생성 후에 변경이 가능하고(mutable : 뮤터블) 튜플은 생성 후에 변경이 불가능하다.(immutable : 임뮤터블)**

> Mutable : 생성된 이후에 변경(assignment)이 자유롭게 가능한 data type.
e.g. List, dict, set

> immutable : 생성된 이후에 변경이 불가능한 data type
e.g. int, float, string, tuple, frozenset


> 1. 성능적인 이슈 -> 변경되지는 않는 그 자체로 장점이 생김.

> 2. 프로그래밍적인 이슈 -> 데이터 수정 자체를 하지 않는 경우 실수를 방지할 수 있다.

In [39]:
# 1, 2를 원소로 가지는 tuple을 생성해 봅니다.
t = (1, 2)
t

(1, 2)

In [40]:
t2 = ('a', 'b', ('a', 'b'))
t2

('a', 'b', ('a', 'b'))

In [41]:
# indexing, slicing 같습니다.
t2[1:4]

('b', ('a', 'b'))

In [43]:
### [WARNING]
t[0] = 3        # 튜플의 원소를 변경해보자. # update
# 수정이 안된다

TypeError: 'tuple' object does not support item assignment

In [45]:
# 그럼 tuple의 더하기, 곱하기는 어떻게 될까?
t = (1, 2)
t2 = (3, 4)
t + t2          # concatenation

(1, 2, 3, 4)

### 연습문제. 호텔 예약 관리하기

- "book" 리스트에는 고객들이 예약한 방 번호가 순차적으로 기록됩니다.

- 만약에 고객이 예약을 취소한 경우에 해당 방 번호는 리스트에서 제거됩니다.

- 현재 예약된 방 번호는 [103, 205, 405] 입니다.

- 어제 새롭게 예약된 방 번호가 107, 203, 304, 507 일 때의 예약 목록을 출력하는 코드를 작성해보세요.

- 오늘 205호, 304호를 예약한 손님이 예약을 취소하였을 때의 예약 목록을 출력하는 코드를 작성해보세요.

In [48]:
## 코드로 구현해봅시다.
book1 = [103,205,405]

book2 = [107,203,304,507]

book = book1 + book2
book

[103, 205, 405, 107, 203, 304, 507]

In [49]:
book.remove(205)
book.remove(304)
book

[103, 405, 107, 203, 507]

In [50]:
# 강사 방법

book = [103,205,405]

book.append(107)
book.append(203)
book.append(304)
book.append(507)

print(book)

[103, 205, 405, 107, 203, 304, 507]

In [51]:
book.remove(205)
book.remove(304)
book

[103, 405, 107, 203, 507]